/* remove jQuery mobile added text shadow */
/*
.ui-body-c, .ui-overlay-c { text-shadow:0 0 0; }
*/

.section-div {
    border: 1px solid #456f9a;
    padding: 0px;
}

.section-header {
    background: #456f9a;
    padding: 5px;
    margin: -1px;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 1px /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #3e6790 /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 /*{b-bar-background-start}*/), to( #497bae /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #6facd5 /*{b-bar-background-start}*/, #497bae /*{b-bar-background-end}*/);
}

.section-line-item {
    padding: 5px;
    margin: 2px;
}

.section-line-item-bottom-bordered {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 2px;
}

#details-page .ui-collapsible div {
    padding: 0px;
}

.section-line-item-compact {
    padding: 5px;
    margin: 0px;
}

.section-line-item-bottom-bordered-compact {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 0px;
}

.section-line-item-compact div {
    margin: 5px;
}

.section-line-item-bottom-bordered-compact div {
    margin: 5px;
}

.section-line-header {
    display: inline-block;
    margin: 2px;
    width: 110px;
    font-size: 1em;
    font-style: oblique;
    color: rgba(0, 0, 0, 0.70);
}

.section-line-value {
    display: inline-block;
    margin: 2px;
    font-size: 1em;
    font-weight: bold;
    color: #0e1168;
}

.grid-cell {
    /*border: solid;*/
    /*border-color: red;*/
    /*border-width: 1px;*/
    margin: 0px;
    padding: 10px;
    height: 80px;
}

.grid-cell-header {
    /*border: solid;*/
    /*border-color: darkcyan;*/
    /*border-width: 1px;*/
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.horizontal-div {
    border: solid;
    border-color: red;
    border-width: 1px;
    /*position: relative;*/
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /*float: left;*/
    display: block-inline;
    /*clear:both;*/
}

.horizontal {
    border: solid;
    border-color: green;
    border-width: 1px;
    /*float: left;*/
    /*position: relative;*/
    display: inline;
    /*width: 350px;*/
}

/*
.ui-slider{
    background: red;
    position: relative;
    left: 20px;
    right: 20px;
}

input.ui-input-text.ui-slider-input {
    display: none !important;
    border-width: 1px;
    width: 100px;
}
*/

/*.ui-bar { font-size: 14px; font-weight: normal; }*/
.ui-listview .ui-li-icon-48 { height: 72px; width: 72px; left: .3em; top: .3em; right: .3em; bottom: .3em; }

.red-border {
    border: solid;
    border-color: red;
    border-width: 1px;
}

/*.ui-listview .ui-li-icon-48 { height: 72px; width: 72px; left: .3em; top: .3em; right: .3em; bottom: .3em; }*/
/*.ui-li-thumb, .ui-li-icon { height: 48px; width: 48px; left: .3em; top: .3em; right: .3em; bottom: .3em; }*/
